<h3 class="page-title">Редактировать работника</h3>
<%= render 'shared/errors' %>
<%= form_for @employee, url: user_employee_path do |f| %>
  <%= render 'employee', f: f %>
  <%= f.submit 'Редактировать работника' %>
<% end %>
