<h2>Employees</h2>
<%= link_to 'Add employee', new_user_employee_path %>
<div class="working">
  <h3>Working employees</h3>
  <%= render 'shared/link_list', collection: @active_working_employees, common_url: user_employees_path %>
</div>
<div class="free">
  <h3>Free employees</h3>
  <%= render 'shared/link_list', collection: @active_free_employees, common_url: user_employees_path %>
</div>
