<h3 class="page-title">Новый работник</h3>
<%= render 'shared/errors' %>
<%= form_for @employee, url: user_employees_path do |f| %>
  <%= render 'employee', f: f %>
  <%= f.submit 'Добавить работника' %>
<% end %>
