<%= content_tag :h3, "Передача товара #{event.giving_events.first.employee.name}", class: 'page-title' %>
<div class="date"><%=to_local(event.created_at)%></div>
<%= render 'shared/stocks', stocks: event.giving_events %>
<div class="sum"><%="Всего: #{event.sum} руб"%></div>
