<%= content_tag :h3, "Selling stuff: #{event.selling_events.first.employee.name}", class: 'page-title' %>
<div class="date"><%=to_local(event.created_at)%></div>
<%= render 'shared/stocks', stocks: event.selling_events %>
<div class="sum-green"><%="Total: +#{event.sum} rub"%></div>
