<% stuff.each do |item| %>
  <div>
    <%= link_to item.product.name, user_product_path(params[:user_id], item.product.id) %>
    <%= f.text_field item.product.name, value: 0 %>
    <%= content_tag :span, "из #{item.amount}" %>
  </div>
<% end %>
