<h2 class="page-title">Закупка</h2>
<div class="date"><%=to_local(event.created_at)%></div>
<%= render 'shared/stocks', stocks: event.shopping_events %>
<div class="sum-red"><%="Всего: -#{event.sum} руб"%></div>
