<%= content_tag :h3, "Получение товара от #{event.taking_events.first.employee.name}", class: 'page-title' %>
<div class="date"><%=to_local(event.created_at)%></div>
<%= render 'shared/stocks', stocks: event.taking_events %>
<div class="sum"><%="Всего: #{event.sum} руб"%></div>
