<h2 class="page-title">Throwing</h2>
<div class="date"><%=to_local(event.created_at)%></div>
<%= render 'shared/stocks', stocks: event.throwing_events %>
<div class="sum"><%="Total: -#{event.sum} rub"%></div>
