<h2 class="page-title">Списание товара</h2>
<div class="date"><%=to_local(event.created_at)%></div>
<%= render 'shared/stocks', stocks: event.throwing_events %>
<div class="sum"><%="Всего: -#{event.sum} руб"%></div>
