<% if @events && @events.any? %>
  <% @events.each do |date, events| %>
  <div>
    <%= content_tag :h4, date %>
    <ul>
      <% events.each do |event| %>
        <li>

          <% if event.event_type=='shopping' %>
            <%= link_to "#{to_local_time(event.created_at)} | Shopping: #{event.sum} rub", user_event_path(params[:user_id], event.id) %>
          <% end %>

        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <%= content_tag :h3, "You don't have any events yet" %>
<% end %>
