<h2 class="page-title">New equipment purchase</h2>
<%= render 'shared/errors' %>
<%= form_for :new_equipment, url: user_create_equipment_path do |f| %>
  <%= render 'expense', f: f, options: {description: '(optional)'} %>
<% end %>
