<h2>New transportation expense</h2>
<%= render 'shared/errors' %>
<%= form_for :new_fare, url: user_create_fare_path do |f| %>
  <%= render 'expense', f: f, options: {description: '(optional)'} %>
<% end %>
