<h2>Throwing</h2>
<%= render 'shared/errors' %>
<% if @warehouses && @warehouses.any? %>
  <%= form_for :throwing_event, url: user_create_throwing_path do |f| %>
    <%= render 'select_stuff', stuff: @warehouses, f: f %>
    <%= f.submit 'Throw' %>
  <% end %>
<% else %>
  <h3>Nothing to throw</h3>
<% end %>
