<div class="page-title">
  <%= "Заработано (чистыми): #{current_user.earned} руб" %>
</div>
<div class="page-title">
  <%= "Списано на сумму: #{current_user.throwed} руб" %>
</div>
<div class="page-title">
  <%= "На складе: #{sum(current_user.warehouses)} руб" %>
</div>
