<div class="page-title">
  <%= "#{@user.name}: статистика" %>
</div>
<table>
  <tr>
    <td>Заработано (чистыми):</td>
    <td><%= @user.earned %> руб</td>
  </tr>
  <tr>
    <td>Списано на сумму:</td>
    <td><%= -@user.throwed %> руб</td>
  </tr>
  <tr>
    <td>На складе:</td>
    <td><%= sum(@user.warehouses) %> руб</td>
  </tr>
</table>
