<h3>All users</h3>
<div>
    <ul>
      <% @users.each do |user| %>
        <% if !user.admin? %>
          <li>
            <%= link_to "#{user.name}: #{user.email}", user_path(user) %>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>
