<% if collection && collection.any? %>
  <div class="collection">
    <ul>
      <% collection.each do |collection_item| %>
        <li>
          <%= link_to collection_item.name, "#{common_url}/#{collection_item.id}"%>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= content_tag :p, "Нет ни одного" %>
<% end %>
