<table border="1">
  <thead>
    <tr>
      <th>Product</th>
      <th>Amount</th>
    </tr>
  </thead>
  <% stocks.each do |item| %>
    <tr>
      <td>
        <%=link_to item.product.name, user_product_path(params[:user_id], item.product.id) %>
      </td>
      <td>
        <%=item.amount%>
      </td>
    </tr>
  <% end %>
</table>
