<table border="1">
  <thead>
    <tr>
      <th>Product</th>
      <th>Amount</th>
    </tr>
  </thead>
  <% stocks.each do |item| %>
    <tr>
      <td>
        <%=item.product.name%>
      </td>
      <td>
        <%=item.amount%>
      </td>
    </tr>
  <% end %>
</table>
