<% if collection && collection.any? %>
  <div class="collection">
    <ul>
      <% collection.each do |collection_item| %>
        <li>
          <%= link_to "#{collection_item.name} : #{collection_item.active?}", "#{common_url}/#{collection_item.id}"%>
          <%= link_to "TOGGLE", toggle_user_path(user_id: collection_item.id), method: :post, class: 'btn'%>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= content_tag :p, "There is no any #{plural(collection.new.class)}" %>
<% end %>
