<h2 class="page-title">Все продукты</h2>
<%= link_to 'Добавить продукт', new_user_product_path, class: 'btn' %>
<%= render 'shared/link_list', collection: @active_products, common_url: user_products_path %>
